apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: d-set
  namespace: cka
spec:
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: nginx
        image: nginx:1.29
        ports:
        - name: http
          containerPort: 80


